.guide-text {
  text-align: center;
  padding-top: 30px;
}


// javascript color-selector
.color-selected .color-card {
  display: none;
  margin-left: 0px;
  margin-right: 0px;
}

.color-selected .color-card.selected {
  display: block;
}

.hidden {
  display: none;
}

// .color-selected .hidden {
//   display: none;
// }

.color-selected .guide-text {
  display: none;
}

.color-selected .button-rectangle {
  justify-content: center;
}

// size of color-circle when clicked
.selected {
  width: 300px;
  height: 300px;
  display: block;
}

.color-picker {
  text-align: center;
  width: 300px;
  margin: 0 auto;

}
