.banner {
  background-color: #3B3A3A;
  background-size: cover;
  height: calc(100vh - 80px);
  padding: 0px;
}

h1 {
color: white;
padding-left: 30px;
padding-top: 45px;
}

p {
color: white;
opacity: 70%;
}

.guide-text {
  text-align: center;
  padding-top: 30px;
}
