<div id="content" class="site-content ">
  <section id="welcome">
  <div class="slide animation-backround">
    <div class="container teal-container">
      <div class="svg-wrapper wrapper-home">
        <svg class ="logo" width="263" height="250" viewBox="0 0 263 250" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M248.441 154H10.3826C6.37868 154 3.5 151.5 3 147C3 136 7.50001 138 7.50001 138L4.43358 139.258H5.29751H7.1923H9.7269H12.3379H15.2663H17.6532H19.4991H20.5803H238.252C236.618 137.389 234.877 136.384 234.847 136.356L142.399 81.6911C134.547 77.7483 130.216 72.4708 129.951 66.2526C129.581 57.4782 137.803 52.1457 138.747 51.5685C139.33 51.2081 139.956 50.9302 140.616 50.7408C157.813 45.9062 156.992 34.209 156.98 34.0868C156.952 23.1318 148.559 14.7391 138.243 14.7391C127.923 14.7391 119.53 23.1318 119.53 33.4455C119.53 37.5196 116.229 40.815 112.161 40.815C108.086 40.815 104.785 37.5196 104.785 33.4455C104.785 15.0048 119.793 0 138.243 0C156.695 0 171.7 15.0048 171.7 33.4455C172.381 40.9311 167.852 57.7897 145.911 64.5545C145.517 64.8844 145.127 65.2875 144.885 65.6204C145.353 66.1732 146.568 67.3032 149.482 68.7723L242.155 123.56C247.237 126.348 256.097 134.536 255.813 146.801C255.716 150.802 252.445 154 248.441 154Z" fill="white" />
        <path d="M4.08 85.52H14.24V140H4.08V85.52ZM38.3613 108.4C36.9746 108.4 35.8279 108.587 34.9213 108.96C34.0679 109.28 33.4013 109.733 32.9213 110.32C32.4413 110.907 32.0946 111.627 31.8813 112.48C31.7213 113.28 31.6413 114.16 31.6413 115.12V140H22.2813V99.28H31.6413V100.32C33.5079 99.6267 35.5079 99.28 37.6413 99.28H41.8012C44.1479 99.28 46.2279 99.68 48.0413 100.48C49.8546 101.28 51.3479 102.347 52.5213 103.68C53.7479 104.96 54.6546 106.453 55.2413 108.16C55.8813 109.813 56.2013 111.493 56.2013 113.2V140H46.8413V115.12C46.8413 114.16 46.7613 113.28 46.6013 112.48C46.4413 111.627 46.1213 110.907 45.6413 110.32C45.2146 109.733 44.5746 109.28 43.7213 108.96C42.8679 108.587 41.7213 108.4 40.2813 108.4H38.3613ZM72.03 140H62.83V85.52H100.27V94.72H71.79V108.16H100.35V117.28H72.03V140ZM115.851 140H106.411V99.28H115.851V140ZM115.851 94.88H106.411V85.52H115.851V94.88ZM120.815 99.28H128.335V85.52H137.775V99.28H145.295V108.48H137.775V140H128.335V108.48H120.815V99.28ZM148.003 99.28H155.523V85.52H164.963V99.28H172.483V108.48H164.963V140H155.523V108.48H148.003V99.28ZM176.31 113.76C176.31 111.787 176.683 109.947 177.43 108.24C178.177 106.48 179.163 104.933 180.39 103.6C181.617 102.267 183.03 101.227 184.63 100.48C186.23 99.68 187.83 99.28 189.43 99.28H198.55C200.63 99.28 202.47 99.7333 204.07 100.64C205.723 101.493 207.083 102.613 208.15 104C209.27 105.333 210.123 106.853 210.71 108.56C211.35 110.213 211.67 111.84 211.67 113.44V123.76H185.75V125.92C185.75 127.84 186.283 129.2 187.35 130C188.417 130.8 189.83 131.2 191.59 131.2H210.23V140.16H189.51C187.697 140.16 185.99 139.813 184.39 139.12C182.79 138.373 181.377 137.387 180.15 136.16C178.977 134.933 178.043 133.467 177.35 131.76C176.657 130.053 176.31 128.187 176.31 126.16V113.76ZM185.83 116.16H202.39V115.76C202.39 113.68 201.857 111.973 200.79 110.64C199.723 109.253 198.283 108.56 196.47 108.56H191.51C190.657 108.56 189.883 108.773 189.19 109.2C188.497 109.573 187.91 110.08 187.43 110.72C186.95 111.36 186.55 112.133 186.23 113.04C185.963 113.893 185.83 114.8 185.83 115.76V116.16ZM227.659 107.6C228.405 106.373 229.392 105.307 230.619 104.4C231.899 103.44 233.285 102.64 234.779 102C236.325 101.36 237.952 100.88 239.659 100.56C241.365 100.24 243.072 100.08 244.779 100.08H245.819V110H244.779C242.859 110 240.885 110.4 238.859 111.2C236.832 111.947 234.965 112.96 233.259 114.24C231.605 115.467 230.245 116.853 229.179 118.4C228.165 119.947 227.659 121.493 227.659 123.04V140H217.739V98.96H227.659V107.6Z" fill="#3C3A3A"/>
        </svg>
      </div>
      <h2>Don´t stress, get dressed.</h2>
      <p>With Infitter, getting dressed and colormatching have never been easier. Scan an item, and Infitter will find you a complete outfit</p>
      <%= link_to "Get dressed!", new_user_registration_path, class: "button-rectangle get-dressed btn-block"%>
    </div>
    <div class="slide grey" style="background-color:#3B3A3A">
      <div class="gray-container">
        <h2> Effortlessly, simple and fun</h2>
        <p> See for your self how easy it is to pull off an outfit with vibrant colors - following the rules of fashion </p>



      </div>
    </div>
  </div>
  </section>
</div>
