<div id="content" class="site-content ">
  <section id="welcome">
  <div class="slide teal" style="background-color: #60935D">
    <div class="container teal-container">
      <%= image_tag("logo_infitter.png", class: "logo") %>
      <h2>Don´t stress, get dressed.</h2>
      <p>With Infitter, getting dressed and colormatching have never been easier. Scan an item, and Infitter will find you a complete outfit</p>
      <%= link_to "Get dressed!", new_user_registration_path, class: "button-rectangle get-dressed btn-block"%>
    </div>
    <div class="slide grey" style="background-color:#3B3A3A">
      <div class="gray-container">
        <h2> Effortlessly, simple and fun</h2>
        <p> See for your self how easy it is to pull off an outfit with vibrant colors - following the rules of fashion </p>



      </div>
    </div>
  </div>
  </section>
</div>
