<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" >
  <div class="modal-dialog" role="document">
    <div class="popup-content">
      <div class="modal-header">
        <h2 class="popup-title">Are you sure?</h2>
        <button class="close" data-dismiss="modal" aria-label="Close">
        </button>
      </div>
      <div class="modal-footer">
        <div>
          <button class="cancel-button" data-dismiss="modal">Cancel</button>
        </div>
        <div>
          <%= link_to item_path(@item),
          method: :delete do %>
            <button class="delete-button">Delete</button>
          <%end %>
        </div>
      </div>
    </div>
  </div>
</div>
