<div class="navbar-infitter">
  <div class="nav-wrapper">
    <ul class="mr-auto">
      <% if user_signed_in? %>
        <li class="nav-item active">
          <%= link_to "Home", "#", class: "nav-link" %>
        </li>

        <li class="nav-item dropdown">
            <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
        </li>
      </ul>
      <% else %>
        <li class="nav-item">
            <%= link_to "Sign up", new_user_session_path, class: "nav-fontcolor" %>
        </li>
        <li class="nav-item">
          <%= link_to "My colors", new_user_session_path, class: "nav-fontcolor" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
