
<div class="wrapper-home">
  <h1 class="font-headline">Infitter</h1>
  <div class="ellipse">
    <%= link_to new_item_path do %>
      <i class="fas fa-camera"> </i>
    <% end %>
  </div>
  <h2>Scan a piece of clothing</h2>

</div>
