
<div class="wrapper-home">
  <div class="box">
    <h1 class="font-headline">InFitter</h1>
  </div>
  <div class="box">
    <div class="ellipse">
      <div class="box">
        <%= link_to color_path do %>
          <i class="fas fa-camera"> </i>
        <% end %>
      </div>
    </div>
  </div>
  <div class="box">
    <h2>Scan a piece of clothing</h2>
  </div>

</div>
