<!-- some code needed to make it display the correct heart depending on the items favourite value-->

<!-- full heart -->
<div class="color">
  <i class="heart fas fa-heart"></i>
</div>

<!-- empty heart -->
<div class="color">
  <i class="heart far fa-heart"></i>
</div>
