<div class="wrapper-category">
  <h2>Before we find your match - what category is this item?</h2>
  <div class="cards-category">
      <button style="background-color:item[color]" class="button-category"  name="item[category]" value="shoes">
      <div class="super-box" style="background-color:item[color]">
        <div class="clr-ellipse">
          <i class="fas fa-tshirt fa-3x"></i>
        </div>
        <div class="text-category">
          <h2>Shoes</h2>
        </div>
     </div>
      </button>


      <button style="background-color:item[color]" class="button-category" name="item[category]" value="tops">
      <div class="super-box" style="background-color:item[color]">
        <div class="clr-ellipse">
          <i class="fas fa-tshirt fa-3x"></i>
        </div>
        <div class="text-category">
          <h2>Top</h2>
        </div>
      </div>
      </button>


      <button style="background-color:item[color]" class="button-category" name="item[category]" value="accessories">
      <div class="super-box" style="background-color:item[color]">
        <div class="clr-ellipse">
          <i class="fas fa-tshirt fa-3x"></i>
        </div>
        <div class="text-category">
          <h2>Accessory</h2>
        </div>
     </div>
     </button>

     <button style="background-color:item[color]" class="button-category" name="item[category]" value="bottoms">
      <div class="super-box" style="background-color:item[color]">
        <div class="clr-ellipse">
          <i class="fas fa-tshirt fa-3x"></i>
        </div>
        <div class="text-category">
          <h2>Bottom</h2>
        </div>
      </div>
     </button>
  </div>
</div>
