<div class="wrapper-wardrobe" style="background-color: <%= @color %>">
  <h2>Wardrobe</h2>
    <div class="cards-wardrobe">
      <div class="color-ellipse" >
        <i class="fas fa-tshirt fa-3x"></i>
      </div>
      <div class="color-ellipse">
        <%= link_to items_path(category:"tops", color:@color)do %>
        <i class="fas fa-tshirt fa-3x"></i>
        <% end %>
      </div>
       <div class="color-ellipse">
        <%= link_to items_path(category:"shoes")do %>
        <i class="fas fa-tshirt fa-3x"></i>
        <% end %>
      </div>
      <div class="color-ellipse">
        <i class="fas fa-tshirt fa-3x"></i>
      </div>
    </div>
</div>
