<div class="wrapper-category">
  <h2>Before we find your match - what category is this item?</h2>
  <div class="cards-category">
      <button style="background-color:item[color]" class="button-category"  name="item[category]" value="shoes">
      <div class="super-box" style="background-color:item[color]">
        <div class="clr-ellipse">
          <%=image_tag("icons/icon_shoe.png", class: "icon_shoes")%>
        </div>
        <div class="text-category">
          <h2>Shoes</h2>
        </div>
     </div>
      </button>


      <button style="background-color:item[color]" class="button-category" name="item[category]" value="tops">
      <div class="super-box" style="background-color:item[color]">
        <div class="clr-ellipse">
          <%=image_tag("icons/icon_top.png", class: "icon_top")%>
        </div>
        <div class="text-category">
          <h2>Tops</h2>
        </div>
      </div>
      </button>


      <button style="background-color:item[color]" class="button-category" name="item[category]" value="accessories">
      <div class="super-box" style="background-color:item[color]">
        <div class="clr-ellipse">
          <%=image_tag("icons/icon_cap.png", class: "icon_accessory")%>
        </div>
        <div class="text-category">
          <h2>Accessories</h2>
        </div>
     </div>
     </button>

     <button style="background-color:item[color]" class="button-category" name="item[category]" value="bottoms">
      <div class="super-box" style="background-color:item[color]">
        <div class="clr-ellipse">
          <%=image_tag("icons/icon_pants.png", class: "icon_bottom")%>
        </div>
        <div class="text-category">
          <h2>Bottoms</h2>
        </div>
      </div>
     </button>
  </div>
</div>
