<div class= "container-gray">
  <h2 id="mycolors">My colors</h2>
  <div class="bar">
    <ul class="nav bar-colors" id="myTab" role="tablist">
      <li class="nav-item bar-item" id="recent-tab" data-toggle="tab"><%= link_to "recent", items_path, class: "nav-link" %></li>
      <li class="nav-item bar-item" id="favorite-tab" data-toggle="tab"><%= link_to "favorite", items_path(favorite:true), class: "nav-link" %></li>
    </ul>
  </div>
  <div class="items-index">
    <% @items.select(:color).pluck(:color).uniq.each do |color| %>
      <%= link_to items_path(color:color), class: "no-underline" do %>
        <div class="color" style="background-color: <%=color%>">
          <% if Item.where(color:color, favorite:true).exists? %>
            <i class="heart fas fa-heart"></i>
          <% else  %>
            <i class="heart far fa-heart"></i>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

<!-- We want the most recent colors to be the first to be displayed whether it is the favorite or recent view.
Therefore the first order of business is to make the sorting of the array based on age happen in the controller.
Then add something to only display the favorited items. -->
