
<div class= "container-gray">
  <div class="color-empty">
    <i class="fi-xtluxl-plus-thin plus"></i>
  </div>

  <%  @items.each do |item| %>
    <%=  link_to "Look at this item", item_path(item) %>
    <br>
  <% end %>

  <%=  link_to "new item", new_item_path %>
</div>
