<div class= "container-gray">
  <h2 id="mycolors">My colors</h2>
  <div class="items-index">
    <% if @category %>
    <%= @items.first.color %>
  <% elsif @color %>
  <%= render "categories" %>
  <% else %>
  <%= render "colors" %>
  <% end %>
  </div>
</div>

<!-- link_to item_path(item) -->
