.bar{
    display: flex;
  justify-content: center;
}

.bar-colors {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  border-bottom: 1px solid #e5e5e5;
  width: 350px;
  margin: 10px;
  justify-content: space-between;

}

.bar-item {
  transition: all 0.2s;
  transition-delay: 0s;
  display: inline-block;
  color: #999999;
}

.bar-item:focus {
  background-color: red;
  color:red;
}
