// for color-page
.cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 16px;
}


.color-card {
  display: flex;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  align-items: center;
  justify-content: center;
  margin: 12px;
  box-shadow: 2px 2px 2px #242424;
  color: white;
}

.text-colorsfound h1 {
  padding-left: 80px;
}
