.wrapper-category {
height: calc(100vh - 80px);
background: #3C3A3A;

}

.wrapper-category h2 {
  left: 0%;
  right: -39.13%;
  top: 0%;
  bottom: -28.57%;
  font-family: Vollkorn;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 42px;
  text-align: center;
  color: #FFFFFF;
  padding-top: 61px;
  padding-right: 39px;
  padding-left: 34px;
}

.cards-category {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 28px;
  grid-row-gap: 34px;


}

.clr-ellipse {
  border-radius: 50%;
  height: 131px;
  width: 131px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
  align-items: center;
  justify-content: center;
  margin: 7px;
  display: flex;

}

.text-category {
  display: flex;
  text-align: center;



}

.text-category h2 {
  font-family: Vollkorn;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 33px;
  text-align: center;
  color: #9A9696;
  padding-top: 18px;
  padding-bottom: 18px;
  padding-right: 21px;
  padding-left: 18px;
}

.super-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  // padding-bottom: 0px;


}
