
.modal-wrapper {
  position: relative;
  display: flex;
  // flex-direction: column;
  width: 100%;
  pointer-events: auto;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  outline: 0;
}

.popup-content {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  pointer-events: auto;
  background-color: #3C3A3A;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  outline: 0;
}

.modal-dialog {
  z-index: 6;
}

.modal-backdrop {
  z-index:-1;
}

.popup-title {
  color: #FFFFFF;
  text-align: center;
  padding-left: 80px;


}

.modal-footer {
  justify-content: space-around;
}


