.cancel-button {
  display: block;
    font-weight: bold;
    height: 100px;
    padding: 0;
    width: 100px;
    background: none;
    margin: auto;
    border: 2px solid #FFFFFF;
    font-size: 13px;
    font-family: "Lato";
    color: #FFFFFF;
    cursor: pointer;
    outline: none;
    text-align: center;
    box-sizing: border-box;
    border-radius: 100%;
    transition: background $trs-time, color $trs-time, font-size .05s, width $trs-time, border $trs-time;
  }
    .cancel-button {
     background: #1ECD97;
     background: linear-gradient(300deg, #ff0000, #ff1919, #ff3232, #ff4c4c, #ff6666, #ff7f7f, #ff9999, #ffb2b2, #ffcccc, #f2e2e2, #f0d5d5, #f0c9c9, #f2b8b8, #f5aaaa, #ff9f9f, #f78181, #f96666, #f94848, #f73131,#f2e2e2, #f0d5d5, #f0c9c9, #f2b8b8, #f5aaaa, #ff9f9f, #f78181, #f96666, #f94848, #f73131,#f2e2e2, #f0d5d5, #f0c9c9, #f2b8b8, #f5aaaa, #ff9f9f, #f78181, #f96666, #f94848, #f73131,#f2e2e2, #f0d5d5, #f0c9c9, #f2b8b8, #f5aaaa, #ff9f9f, #f78181, #f96666, #f94848, #f73131,#f2e2e2, #f0d5d5, #f0c9c9, #f2b8b8, #f5aaaa, #ff9f9f, #f78181, #f96666, #f94848, #f73131, #f31b1b, #ee0707, #d9aeae, #d48484, #d25c5c, #d53737, #d50d0d, #d50d0d);
      background-size: 5400% 5400%;
      -webkit-animation: AnimationName 150s ease infinite;
      -moz-animation: AnimationName 150s ease infinite;
      -o-animation: AnimationName 150s ease infinite;
      animation: AnimationName 150s ease infinite;
}

@-webkit-keyframes AnimationName {
  0%{background-position:0% 19%}
  10%{background-position:10% 82%}
  100%{background-position:0% 19%}
}
@-moz-keyframes AnimationName {
  0%{background-position:0% 19%}
  50%{background-position:10% 82%}
  100%{background-position:0% 19%}
}
@-o-keyframes AnimationName {
  0%{background-position:0% 19%}
  50%{background-position:10% 82%}
  100%{background-position:0% 19%}
}
@keyframes AnimationName {
  0%{background-position:0% 19%}
  50%{background-position:100% 82%}
  100%{background-position:0% 19%}
}

.delete-button {
  font-weight: bold;
  display: block;
    height: 100px;
    padding: 0;
    width: 100px;
    background: none;
    margin: auto;
    border: 2px solid #FFFFFF;
    font-size: 13px;
    font-family: "Lato";
    color: #FFFFFF;
    cursor: pointer;
    outline: none;
    text-align: center;
    box-sizing: border-box;
    border-radius: 100%;
    transition: background $trs-time, color $trs-time, font-size .05s, width $trs-time, border $trs-time;
  }
    .delete-button {
     background: #1ECD97;
     background: linear-gradient(450deg, #1ecd97, #1bb887, #18a478, #158f69, #127b5a, #0f664b, #0c523c, #093d2d, #1ecd97, #34d2a1, #4ad7ab, #61dcb6, #78e1c0, #8ee6cb, #a5ebd5, #bbf0df, #d2f5ea, #e8faf4, #1ecd97, #1bb887, #18a478, #158f69, #127b5a, #0f664b, #0c523c, #093d2d, #1ecd97, #34d2a1, #4ad7ab, #61dcb6, #78e1c0, #8ee6cb, #a5ebd5, #bbf0df, #d2f5ea, #e8faf4, #1ecd97, #1bb887, #18a478, #158f69, #127b5a, #0f664b, #0c523c, #093d2d, #1ecd97, #34d2a1, #4ad7ab, #61dcb6, #78e1c0, #8ee6cb, #a5ebd5, #bbf0df, #d2f5ea, #e8faf4, #1ecd97, #1bb887, #18a478, #158f69, #127b5a, #0f664b, #0c523c, #093d2d, #1ecd97, #34d2a1, #4ad7ab, #61dcb6, #78e1c0, #8ee6cb, #a5ebd5, #bbf0df, #d2f5ea, #e8faf4);
      background-size: 5400% 5400%;
      -webkit-animation: AnimationName 150s ease infinite;
      -moz-animation: AnimationName 150s ease infinite;
      -o-animation: AnimationName 150s ease infinite;
      animation: AnimationName 150s ease infinite;
}

@-webkit-keyframes AnimationName {
  0%{background-position:0% 19%}
  10%{background-position:10% 82%}
  100%{background-position:0% 19%}
}
@-moz-keyframes AnimationName {
  0%{background-position:0% 19%}
  50%{background-position:10% 82%}
  100%{background-position:0% 19%}
}
@-o-keyframes AnimationName {
  0%{background-position:0% 19%}
  50%{background-position:10% 82%}
  100%{background-position:0% 19%}
}
@keyframes AnimationName {
  0%{background-position:0% 19%}
  50%{background-position:100% 82%}
  100%{background-position:0% 19%}

}


.modal-wrapper {
  position: relative;
  display: flex;
  // flex-direction: column;
  width: 100%;
  pointer-events: auto;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  outline: 0;
}

.popup-content {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  pointer-events: auto;
  background-color: #3C3A3A;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  outline: 0;
}

.popup-title {
  color: #FFFFFF;
  text-align: center;
  padding-left: 80px;


}

.modal-footer {
  justify-content: space-around;
}


