
.box {
  display: flex;
  align-items: center;
  justify-content: space-around;


}

.ellipse {
  position: relative;
  width: 297px;
  height: 297px;
  border-radius: 50%;
  animation: background 80s infinite;
}


.ellipse .fas {
  font-size: 100px;
  color:white;
  display: flex;
  align-items: center;
  justify-content: space-around;
  line-height: 3;

}


.ellipse .fas .clickableAwesomeFont {
  cursor: pointer

}

.wrapper-home h1{
 font-family: 'Do Hyeon';
 font-size: 64px;
 line-height: 80px;
 text-align: center;
 color: #FFFFFF;
 padding-right: 40px;
}

.wrapper-home h2 {

font-style: normal;
font-weight: normal;
font-size: 30px;
line-height: 42px;
text-align: center;
// margin-top: 350px;
color: #FFFFFF;
padding-left: 50px;
padding-right: 50px;
padding-top: 25px;
}

.wrapper-home {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

@keyframes background {
    0% {
        background: #93eed6;
    }
    3% {
        background: #56d4b2;
    }
    6% {
        background: #3acaa3;
    }
    9% {
        background: #1daa84;
    }
    12% {
        background: #13906e;
    }
    15% {
        background: #5b8e7d;
    }
    18% {
        background: #70dbe1;
    }
    21% {
        background: #31b7bf;
    }
    24% {
        background: #21868c;
    }
    27% {
        background: #0b575c;
    }
    30% {
        background: #e6b8e3;
    }
    33% {
        background: #c52e9e;
    }
    36% {
        background: #e35a8f;
    }
    39% {
        background: #e35a8f;
    }
    42% {
        background: #f2b5ba;
    }
    45% {
        background: #ee8c94;
    }
    48% {
        background: #ee3d4c;
    }
    51% {
        background: #94111c;
    }
    54% {
        background: #eef58b;
    }
    57% {
        background: #f3fd6a;
    }
    60% {
        background: #f0fd45;
    }
    63% {
        background: #f0fd45;
    }
    66% {
        background: #c3d208;
    }
    69% {
        background: #f7ca95;
    }
    72% {
        background: #f3b061;
    }
    75% {
        background: #f79623;
    }
    78% {
        background: #f38707;
    }
    81% {
        background: #f38707;
    }
    84% {
        background: #dbf3c3;
    }
    87% {
        background: #b6ea81;
    }
    90% {
        background: #a2ea81;
    }
    93% {
        background: #6bc542;
    }
    96% {
        background: #38a706;
    }
}
