.wrapper-home {
  // min-height: calc(100vh - 80px);
  background: #3B3A3A;
  display: grid;
  grid-template-columns: repeat(auto-fit 300px);
  grid-template-rows: repeat (2, 1fr);

}

.wrapper-home > :last-child {
  margin-top: 60px;
}


.box {
  display: flex;
  align-items: center;
  justify-content: space-around;





}

.ellipse {
  position: relative;
  width: 297px;
  height: 297px;
  background: rgb(78, 212, 237);
  filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.03));
  border-radius: 100%;
    background: linear-gradient(150deg, #93eed6, #56d4b2, #3acaa3, #1daa84, #13906e, #aadee1, #70dbe1, #31b7bf, #21868c, #0b575c, #e6b8e3, #df6fd7, #c52e9e, #e35a8f, #e35a8f, #f2b5ba, #ee8c94, #ee3d4c, #94111c, #eef58b, #f3fd6a, #f0fd45, #c3d208, #f7ca95, #f3b061, #f79623, #f38707, #f38707, #dbf3c3, #b6ea81, #a2ea81, #6bc542, #38a706);
    background-size: 6600% 6600%;

    -webkit-animation: AnimationName 150s ease infinite;
    -moz-animation: AnimationName 150s ease infinite;
    animation: AnimationName 150s ease infinite;
}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}




.ellipse .fas {
  font-size: 100px;
  color:white;
  display: flex;
  align-items: center;
  justify-content: space-around;
  line-height: 3;

}


.ellipse .fas .clickableAwesomeFont {
  cursor: pointer

}

.wrapper-home h1{
 font-family: 'Do Hyeon';
 font-size: 64px;
 line-height: 80px;
 text-align: center;
 color: #FFFFFF;
 padding-right: 40px;
}

.wrapper-home h2 {

font-family: 'Vollkorn';
font-style: normal;
font-weight: normal;
font-size: 30px;
line-height: 42px;
text-align: center;
// margin-top: 350px;
color: #FFFFFF;
padding-left: 50px;
padding-right: 50px;

}
