h1 {
  color: white;
  padding-left: 30px;
  padding-top: 45px;
  font-family: 'Do Hyeon', sans-serif;
}

p {
color: white;
opacity: 70%;
font-family: "Work Sans", sans-serif;
}

h2, h3 {
  font-family: 'Vollkorn', serif;
  color: white;
}

#mycolors {
font-family: Vollkorn;
font-style: normal;
font-weight: normal;
font-size: 30px;
line-height: 42px;
text-align: center;
color: #FFFFFF;
margin-top: 30px;
opacity: 0.8;
}
