h1 {
  color: white;
  padding-left: 30px;
  padding-top: 45px;
  font-family: 'Do Hyeon', sans-serif;
}

p {
color: white;
opacity: 70%;
font-family: "Work Sans", sans-serif;
}

h2, h3 {
  font-family: 'Vollkorn', serif;
}

