.heart {
  color: white;
  font-size: 2.5em;
}

.hjerte {
  color: inherit;
}

.heartbutton {
  border: 0px;
}

.container-adaptive .heart {
  align-self: end;
  margin-left: 300px;
  margin-top: 20px;
}
