.heart {
  color: white;
  font-size: 2.5em;
  text-decoration:none;
  cursor:pointer;

}

.heart:hover {
  text-decoration:none;
  cursor:pointer;
}

.heartbutton {
  border: 0px;
}

.container-adaptive .heart {
  position: absolute;
  margin-bottom: 579px;
  margin-left: 270px;
}
