#logo_text {

    animation: fill 80s ease infinite;

}

@keyframes fill {
    0% {
        fill: #93eed6;
    }
    3% {
        fill: #56d4b2;
    }
    6% {
        fill: #3acaa3;
    }
    9% {
        fill: #1daa84;
    }
    12% {
        fill: #13906e;
    }
    15% {
        fill: #5b8e7d;
    }
    18% {
        fill: #70dbe1;
    }
    21% {
        fill: #31b7bf;
    }
    24% {
        fill: #21868c;
    }
    27% {
        fill: #0b575c;
    }
    30% {
        fill: #e6b8e3;
    }
    33% {
        fill: #c52e9e;
    }
    36% {
        fill: #e35a8f;
    }
    39% {
        fill: #e35a8f;
    }
    42% {
        fill: #f2b5ba;
    }
    45% {
        fill: #ee8c94;
    }
    48% {
        fill: #ee3d4c;
    }
    51% {
        fill: #94111c;
    }
    54% {
        fill: #eef58b;
    }
    57% {
        fill: #f3fd6a;
    }
    60% {
        fill: #f0fd45;
    }
    63% {
        fill: #f0fd45;
    }
    66% {
        fill: #c3d208;
    }
    69% {
        fill: #f7ca95;
    }
    72% {
        fill: #f3b061;
    }
    75% {
        fill: #f79623;
    }
    78% {
        fill: #f38707;
    }
    81% {
        fill: #f38707;
    }
    84% {
        fill: #abbf39;
    }
    87% {
        fill: #b6ea81;
    }
    90% {
        fill: #a2ea81;
    }
    93% {
        fill: #6bc542;
    }
    96% {
        fill: #38a706;
    }
    100% {
        fill: #93eed6;
    }
}
