.navbar-infitter {
  background: #3B3A3A;
  margin-top: 2px;
  height: 80px;
  position: fixed;
  bottom: 0;
  border-top: 1px solid #FFFFFF;
  width: 100vw;
  z-index: 6;

}

.navbar-infitter .nav-link {
  text-decoration: none;
  color: white;
  padding: 25px;
}


.nav-link {
  text-decoration: none;
  color: white;
}



.nav-link:hover {
  text-decoration: none;
  color: white;


}

.nav-link a {
  text-decoration: none;
  color:white;

}


.classguy {
  position: relative;
  width: 100vw;
}



.mr-auto {
  flex: 1;
  display: flex;
  justify-content: space-between;
  font-family: 'Vollkorn';
  list-style: none;

}

.navbar-infitter ul {
  padding-left: 0;
  text-decoration: none;
}

.nav-fontcolor {
  color: white;
  display: block;
  padding: 0.5rem 1rem;
  font-family: "Work Sans", sans-serif;
  opacity: 70%;
   padding-left: 25px;
  padding-top: 25px;

}

