.navbar-infitter {
  background: #3B3A3A;
  margin-top: 2px;
  height: 80px;
  position: static;


}


.nav-fontcolor {
  color:white;
  font-size: 25px;
  line-height: 3;
  padding-right: 50px;

}

.classguy {
  position: relative;
  width: 100vw;
}


.nav-fontcolor:hover {
  color: white;
  text-decoration: none;

}

.navbar-wrapper {
}


.mr-auto {
  flex: 1;
  // margin: auto !important;
  display: flex;
  justify-content: space-between;
  // width: 100%;
  font-family: 'Vollkorn';
  list-style: none;

}


