.outfit {
  scroll-snap-type: y mandatory;
  overflow: scroll;
  height: calc(100vh - 80px);
  width: 100vw;
}

.card-outfit {
}

.outfit-text a:link {
  text-decoration:none;
  color: white;

font-family: "Inter", sans-serif;
}


#component1 {
  height: calc(88vh - 80px);
  scroll-snap-align: center;
  display: flex;
  flex-direction: column;
  align-content: center;
  position:relative;
}

#component2 {
  height: calc(88vh - 80px);
  scroll-snap-align: center;
  display: flex;
  flex-direction: column;
  align-content: center;
  position:relative;
}

#component3 {
  height: calc(88vh - 80px);
  scroll-snap-align: center;
  display: flex;
  flex-direction: column;
  align-content: center;
  position:relative;
}

#component4 {
  height: calc(88vh - 80px);
  scroll-snap-align: center;
  display: flex;
  flex-direction: column;
  align-content: center;
  position:relative;
}

.image-carousel {
  position: relative;
  margin-top: 20px;
  width: 286px;
  height: 477px;

  box-shadow: 7px 10px 4px 7px rgba(0, 0, 0, 0.25);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)), drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 15px;
  object-fit: cover;
  z-index: 2;

}

.shadow {
  position: absolute;
  z-index: 1;
  left: 20px;
  top: 35px;
  box-shadow: 7px 10px 4px 7px rgba(0, 0, 0, 0.25);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)), drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 15px;
  opacity: 0.8;

}

.front {
  position: absolute;
  z-index: 1;
  left: -20px;
  top: 35px;
  box-shadow: 7px 10px 4px 7px rgba(0, 0, 0, 0.25);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)), drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 15px;
  opacity: 0.8;

}

.outfit-text a {
  text-decoration: none;
  color: #FFFFFF;
}
