.start_index {
  display: grid;
  justify-items: center;
  margin-top: 0px;
}

.index-dropdown {
  position: fixed;
  z-index: 6;
}

.index-heart {
  position: relative;
  left: 248px;
  background-color: inherit;
  padding: 0;
  border: none;
  background: none;
}

// created with some styling to prevent wonky positioning height-wise on the index page with all the item cards.
#index-circle {
  top: 0px;
}

#menu-icon {
  // width: 34px;
}

.dropdown-box {
  height: 35px;
  width: 35px;
}
