.camera-button {
  width: 86px;
  height: 86px;
  background: #FFFFFF;
  border: 1px solid #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  color: black;
  margin: 0 auto;
  left: 0;
  right: 0;
  // align-self: center;
  position: absolute;
  bottom: -42px;
}

#cam-btn {
  color:black;
  text-decoration:none;
  cursor:pointer;
}

#cam-btn:hover {
  color:black;
  text-decoration:none;
  cursor:pointer;

}
